body, html {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 36pt;
  text-align: center;
}

.left {
  height: 100vh;
  width: 25%;
  float: left;
}

.mid {
  width: 50%;
  float: left;
}

.right {
  height: 100vh;
  width: 25%;
  float: left;
}

.dropdown {
  position: relative;
  top: 25%;
  display: block;
  width: 50%;
  height: 10%;
  margin: 20px auto;
  font-size: 16pt;
}

#map {
  height: 400px;
  width: 90%;
  margin: 0 auto;
  border: 1px solid #ddd;
}

#btn-go {
	height: 80px;
	width: 80px;
	cursor: pointer;
  line-height: 1.3 !important;
	background-color: #f1f1f1;
	text-align: center;
	font-size: 60px !important;
	color: #444;
	transition: 0.1s ease-out;
	border: 1px solid #777;
	border-top-color: #999;
	border-bottom: 4px solid #555;
	border-radius: 50px;
	user-select: none;
  outline: none;
  display: block !important;
  margin: 10px auto;
}

#btn-go:active {
	margin-top: 15px;
	color: #777;
	border: 1px solid #999;
	box-shadow: inset 0 0 5px 0 #333;
}
