body, html {
  padding: 0;
  margin: 0;
}

body {
  background: url('../img/background.jpg') no-repeat center center fixed;
  background-size: cover;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.logo {
  display: block;
  margin: 20px auto;
  user-select: none;
  /* 1229 * 377 */
  width: 36.87vw;
  height: 11.31vw;
}

.left {
  height: 100vh;
  width: 25%;
  float: left;
}

.mid {
  width: 50%;
  float: left;
}

.right {
  height: 100vh;
  width: 25%;
  float: left;
}

.option {
  position: relative;
  top: 25%;
  display: block;
  width: 50%;
  height: 10%;
  margin: 20px auto;
  font-size: 16pt;
}

#map {
  height: 350px;
  width: 85%;
  margin: 0 auto;
  border: 1px solid #ddd;
}

#btn-go {
  display: block;
	height: 80px;
	width: 80px;
	cursor: pointer;
  line-height: 1.3 !important;
	background-color: #f1f1f1;
	text-align: center;
	font-size: 60px !important;
	color: #444;
	transition: 0.1s ease-out;
	border: 1px solid #777;
	border-top-color: #999;
	border-bottom: 4px solid #555;
	border-radius: 50px;
	user-select: none;
  outline: none;
  margin: 10px auto;
}

#loading {
  display: none;
	height: 80px;
	width: 80px;
	cursor: pointer;
	transition: 0.1s ease-out;
	border: 1px solid #777;
	border-top-color: #999;
	border-bottom: 4px solid #555;
	border-radius: 50px;
	user-select: none;
  margin: 10px auto;
}

#btn-go:active, #loading:active {
	margin-top: 15px;
	color: #777;
	border: 1px solid #999;
	box-shadow: inset 0 0 5px 0 #333;
}

.rest {
  border: 1px solid #999;
}

.rest-name {
  display: block;
  font-size: 16pt;
  text-align: center;
  font-weight: bold;
}

.rest-img {
  margin: 0 auto;
  width: 100%;
  height: 200px;
}

.rest-info {
  margin: 0 0 0 10%;
  line-height: 1.5;
}

.dropdown-content {
  display: none;
}

.dropdown:hover .dropdown-content {
  animation: animatedown 1s;
  display: block;
}

@keyframes animatedown {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.drop-btn:after {
  content: '\2304';
}

.dropdown:hover .drop-btn:after{
	content: '\02C4';
}

.slide-btn>button {
  color: #aaa;
  background-color: Transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  margin: 80px 0 0 35%;
  user-select: none;
  font-size: 16pt;
}

.slide-img {
  display: none;
}

.row {
  overflow: auto;
}

.col {
  float: left;
}

.col.s1 {
  width: 10%;
}

.col.s2 {
  width: 80%;
}
