body, html {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 36pt;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.left {
  height: 100vh;
  width: 25%;
  float: left;
}

.mid {
  width: 50%;
  float: left;
}

.right {
  height: 100vh;
  width: 25%;
  float: left;
}

.option {
  position: relative;
  top: 25%;
  display: block;
  width: 50%;
  height: 10%;
  margin: 20px auto;
  font-size: 16pt;
}

#map {
  height: 400px;
  width: 90%;
  margin: 0 auto;
  border: 1px solid #ddd;
}

#btn-go {
	height: 80px;
	width: 80px;
	cursor: pointer;
  line-height: 1.3 !important;
	background-color: #f1f1f1;
	text-align: center;
	font-size: 60px !important;
	color: #444;
	transition: 0.1s ease-out;
	border: 1px solid #777;
	border-top-color: #999;
	border-bottom: 4px solid #555;
	border-radius: 50px;
	user-select: none;
  outline: none;
  display: block !important;
  margin: 10px auto;
}

#btn-go:active {
	margin-top: 15px;
	color: #777;
	border: 1px solid #999;
	box-shadow: inset 0 0 5px 0 #333;
}

.rest {
  border: 1px solid #999;
}

.rest-name {
  display: block;
  font-size: 16pt;
  text-align: center;
  font-weight: bold;
}

.rest-img {
  display: block;
  margin: 0 auto;
  width: 80%;
  max-height: 200px;
}

.rest-info {
  margin: 0 0 0 10%;
  line-height: 1.5;
}

.dropdown-content {
  display: none;
}

.dropdown:hover .dropdown-content {
  animation: animatedown 1s;
  display: block;
}

@keyframes animatedown {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.dropbtn:after {
  content: '\2304';
}

.dropdown:hover .dropbtn:after{
	content: '\02C4';
}
